<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="euroPlus4_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <userSettings>
    <euroPlus4_1.Properties.Settings>
      <setting name="sqlServerConfig" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="sqlPortConfig" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="sqlUserIdConfig" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="sqlPasswordConfig" serializeAs="String">
        <value>191260</value>
      </setting>
      <setting name="sqlDataBase" serializeAs="String">
        <value>sysEP4</value>
      </setting>
      <setting name="CaminhoLog" serializeAs="String">
        <value>C:\Users\Public\Documents</value>
      </setting>
      <setting name="C_NomeDaMaquina" serializeAs="String">
        <value />
      </setting>
      <setting name="C_PosicaoNaPlanta" serializeAs="String">
        <value />
      </setting>
      <setting name="C_NumeroDeSerie" serializeAs="String">
        <value />
      </setting>
      <setting name="C_TensaoDeEntrada" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_Fabricante" serializeAs="String">
        <value />
      </setting>
      <setting name="C_AnoDeFabricacao" serializeAs="String">
        <value>01/01/0001</value>
      </setting>
      <setting name="C_TipoDeAplicacao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_MostrarNome" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C_Tema" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_CorDeDestaque" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_AplicarModo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="C_HoraInicial" serializeAs="String">
        <value>00:00</value>
      </setting>
      <setting name="C_HoraFinal" serializeAs="String">
        <value>00:00</value>
      </setting>
      <setting name="C_ProtocoloEthernet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_EnderecoIp" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="C_Porta" serializeAs="String">
        <value>801</value>
      </setting>
      <setting name="C_ProtocoloSerial" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_BaudRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_StopBit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_Paridade" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="C_NumeroEstacao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sqlTipoBancoSelecionado" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsuarioMaster" serializeAs="String">
        <value>sysEPcontrol</value>
      </setting>
      <setting name="SenhaMaster" serializeAs="String">
        <value>mastercontrol191260</value>
      </setting>
      <setting name="C_TempoLeituraEthernet" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="C_UnidadePressao" serializeAs="String">
        <value>MPa</value>
      </setting>
    </euroPlus4_1.Properties.Settings>
  </userSettings>
</configuration>